.App {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to right, lightcoral, blueviolet);
}

.App__box {
    background-color: cornflowerblue;
    height: 90px;
    width: 190px;
    border-radius: 6px;

}

button {
    border-radius: 8px;
}

.App__counter {
    font-size: 44px;
}
