@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Rubik:wght@400;700&display=swap');

.header {
    display: flex;
    height: 70px;

    align-items: center;

    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    margin-right: 200px;
    justify-content: space-between;
}

.main {
    /*background-color: goldenrod;*/
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__description__item1 {
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    /*background-color: purple;*/
    height: 100px;
    width: 450px;
}

.main__description__item2 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    /*background-color: goldenrod;*/
    height: 40px;
    width: 450px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.main__description__item3 {
    cursor: pointer;
}

button {
    height: 50px;
    width: 250px;
    background-color: rgba(33, 129, 122, 1.00);
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    border-radius: 12px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #446094;
}

input:focus + .slider {
    box-shadow: 0 0 1px #446094;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.algos{
    list-style: none;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    /*background-color: purple;*/


}

.wrapper {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /*background-color: rgba(86,92,0,0.71)*/

}

.algos {
    padding: 0;
}

.someBlock {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: #446094;
}


.imageUploader {
    /*background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(33,129,122,1) 53%, rgba(0,212,255,1) 100%);*/

    background: radial-gradient(circle, rgba(5,3,40,1) 0%, rgba(33,129,122,0.8702074579831933) 53%, rgba(0,212,255,0.36320465686274506) 100%);
    width: 510px;
    height: 340px;
    border-radius: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    position: relative;

}

.dropArea {
    font-size: 20px;
}

/*mg {
    width: 45px;
    height: 45px;
}

.Upl {
    width: 230px;
    height: 90px;
    display: flex;

}*/

.modal {
    background-color: rgb(136, 184, 182);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Rubik', sans-serif;
    color: black;
    /*display: flex;
    align-items: center;*/
    border-radius: 30px;
}

.mouse_pic {
    width: 260px;
    height: 120px;

}

.try_again {
    width: 30px;
    height: 30px;
}

.mouse_description {
    /*background-color: yellow;*/
    /*width: 510px;*/
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse_photo {
    /*background-color: chartreuse;*/
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.mouse_again {
    /*background-color: cornflowerblue;*/
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mouse_again_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
}
